<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>School MS Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SMS Administration Platform">
    <meta name="Abderrahim" content="Abderrahim ELWAARABI">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="css/commun-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>
    <link href='fonts/font-awesome/css/font-awesome.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body ng-cloak>

<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation" ng-controller="header">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"> <img alt="Logo" src="img/logo20.png" class="hidden-xs"/>
            <span>SCHOOL</span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs">{{adminName}}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                    class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="themes">
                <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a href="{{schoolWebSite}}"><i class="glyphicon glyphicon-globe"></i> School WebSite</a></li>
            <li><a href="{{frontOfficeWebSite}}"><i class="glyphicon glyphicon-globe"></i> FrontOffice Website</a></li>
        </ul>

    </div>
</div>
<!-- topbar ends -->

<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2" ng-controller="menu">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header" ng-if="menuSectionShow[0]==true">Main</li>
                        <li ng-if="menuSectionShow[0]==true"><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>

                        <li class="nav-header hidden-md" ng-if="menuSectionShow[1]==true">Users Section</li>
                        <li class="accordion" ng-if="userShow[0]==true">
                            <a href="#"><i class="fa fa-user-plus"></i><span> Users Roles</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-if="userRolesShow[0]==true"><a href="teacher-u.html">teachers</a></li>
                                <li ng-if="userRolesShow[1]==true"><a href="#">Staff</a></li>
                                <li ng-if="userRolesShow[2]==true"><a href="#">Students</a></li>
                                <li ng-if="userRolesShow[3]==true"><a href="#">Parents</a></li>
                                <li ng-if="userRolesShow[4]==true"><a href="#">supervisors</a></li>
                            </ul>
                        </li>
                        <li class="accordion" ng-if="userShow[1]==true">
                            <a href="#"><i class="fa fa-user-plus"></i><span> Users Details</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-if="userDetailsShow[0]==true"><a href="#">Staff</a></li>
                                <li ng-if="userDetailsShow[1]==true"><a href="teacher-d.html">teachers</a></li>
                                <li ng-if="userDetailsShow[2]==true"><a href="#">Students/Parents</a></li>
                            </ul>
                        </li>

                        <li class="nav-header hidden-md" ng-if="menuSectionShow[2]==true">Classes Section</li>
                        <li ng-if="classesShow[0]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-book"></i><span> Subjects</span></a>
                        </li>
                        <li ng-if="classesShow[1]==true"><a class="ajax-link" href="#"><i class="fa fa-sitemap"></i><span> Levels</span></a>
                        </li>
                        <li ng-if="classesShow[2]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-flag"></i><span> Classes</span></a>
                        </li>

                        <li class="nav-header hidden-md"ng-if="menuSectionShow[3]==true">Activities Section</li>
                        <li ng-if="activitiesShow[0]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-time"></i><span> Daily Attendance</span></a>
                        </li>
                        <li ng-if="activitiesShow[1]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-pencil"></i><span> Circulars & Notices</span></a>
                        </li>
                        <li ng-if="activitiesShow[2]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-calendar"></i><span> School Calendar</span></a>
                        </li>
                        <li ng-if="activitiesShow[3]==true"><a class="ajax-link" href="#"><i class="fa fa-pencil-square-o"></i><span> Homeworks</span></a>
                        <li ng-if="activitiesShow[4]==true"><a class="ajax-link" href="#"><i class="fa fa-inr"></i><span> Fee Management</span></a>
                        </li>
                        <li ng-if="activitiesShow[5]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-ok"></i><span> Examination Results</span></a>
                        </li>
                        <li ng-if="activitiesShow[6]==true"><a class="ajax-link" href="#"><i class="fa fa-book"></i><span> Library Transactions</span></a>
                        </li>

                        <li class="nav-header hidden-md" ng-if="menuSectionShow[4]==true">Configuration Section</li>
                        <li ng-if="configurationShow[0]==true"><a class="ajax-link" href="#"><i class="fa fa-building-o"></i><span> School Details</span></a>
                        </li>
                        <li ng-if="configurationShow[1]==true"><a class="ajax-link" href="#"><i class="fa fa-envelope"></i><span> SMS Gateway</span></a>
                        </li>
                        <li ng-if="configurationShow[2]==true"><a class="ajax-link" href="#"><i class="glyphicon glyphicon-bell"></i><span> Reports</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                </ul>
            </div>

            <div class=" row" ng-controller="users">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{totalMembers[1]}} new members." class="well top-block">
                        <i class="glyphicon glyphicon-user blue"></i>           

                        <div>Members</div>
                        <div>{{totalMembers[0]}}</div>
                        <span class="notification">{{totalMembers[1]}}</span>
                    </div>
                </div>          

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{supervisorsNumber[1]}} new Supervisors members." class="well top-block">
                        <i class="glyphicon glyphicon-eye-open green"></i>          

                        <div>Supervisors</div>
                        <div>{{supervisorsNumber[0]}}</div>
                        <span class="notification green">{{supervisorsNumber[1]}}</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{staffNumber[1]}} new Faculty/staff members." class="well top-block">
                        <i class="fa fa-users yellow"></i>          

                        <div>Faculty/staff</div>
                        <div>{{staffNumber[0]}}</div>
                        <span class="notification yellow">{{staffNumber[1]}}</span>
                    </div>
                </div>          

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{studentsNumber[1]}} new Parents/Students members." class="well top-block">
                        <i class="fa fa-graduation-cap red"></i>            

                        <div>Parents/Students</div>
                        <div>{{studentsNumber[0]}}</div>
                        <span class="notification red">{{studentsNumber[1]}}</span>
                    </div>
                </div>  
            </div>

            <div class=" row" ng-controller="users">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{subjecstNumber[1]}} new subjects." class="well top-block">
                        <i class="glyphicon glyphicon-book yellow"></i>            

                        <div>Subjects</div>
                        <div>{{subjecstNumber[0]}}</div>
                        <span class="notification yellow">{{subjecstNumber[1]}}</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{levelsNumber[1]}} new levels." class="well top-block">
                        <i class="glyphicon glyphicon-tags red"></i>            

                        <div>Levels</div>
                        <div>{{levelsNumber[0]}}</div>
                        <span class="notification red">{{levelsNumber[1]}}</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div data-toggle="tooltip" title="{{classesNumber[1]}} new classes." class="well top-block">
                        <i class="glyphicon glyphicon-flag blue"></i>            

                        <div>Classes</div>
                        <div>{{classesNumber[0]}}</div>
                        <span class="notification blue">{{classesNumber[1]}}</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="{{messageNumber[1]}} new messages." class="well top-block" href="#">
                        <i class="glyphicon glyphicon-envelope green"></i>            

                        <div>Messages</div>
                        <div>{{messageNumber[0]}}</div>
                        <span class="notification green">{{messageNumber[1]}}</span>
                    </a>
                </div>
            </div>   

            <div class="row">
                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> Members Activity</h2>           

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="box-content">
                                <ul class="dashboard-list" ng-controller="memberActiviy">
                                    <li ng-repeat="detail in activityDetail">
                                        <a href="{{detail.link}}">
                                            <img class="dashboard-avatar" alt="{{detail.name}}"
                                                 src="{{detail.image}}"></a>
                                        <strong>Name: </strong> <a href="#"> {{detail.name}}
                                        </a><br>
                                        <strong>Date: </strong> {{detail.date}}<br>
                                        <strong>Activity: </strong><span class="label label-info"> {{detail.activity}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-pencil"></i> Circulars & Notices</h2>           

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="box-content">
                                <ul class="dashboard-list" ng-controller="notice">
                                    <li ng-repeat="detail in noticeDetail">
                                        <a href="#">
                                            <img class="dashboard-avatar" alt="Notice Image"
                                                 src="img/notice.png"></a>
                                        <strong>Title: </strong> <a href="#"> {{detail.title}}
                                        </a><br>
                                        <strong>Date: </strong> {{detail.date}}<br>
                                        <strong>Status: </strong> <span class="{{detail.color}}"> {{detail.status}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box col-md-4">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-calendar"></i> School Calendar</h2>           

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="box-content">
                                <ul class="dashboard-list" ng-controller="schoolCalendar">
                                    <li ng-repeat="detail in calendarDetail">
                                        <a href="#">
                                            <img class="dashboard-avatar" alt="Calendar Image"
                                                 src="img/calendar.jpg"></a>
                                        <strong>Applicant: </strong> <a href="#"> {{detail.applicant}}
                                        </a><br>
                                        <strong>Date: </strong> {{detail.date}}<br>
                                        <strong>Status: </strong> <span class="{{detail.color}}"> {{detail.status}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner homepage-box">
                        <div class="box-header well">
                            <h2><i class="fa fa-graduation-cap"></i> Students</h2>                

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#attendence">Daily Attendance</a></li>
                                <li><a href="#homework">Homeworks</a></li>
                                <li><a href="#results">Examination Results</a></li>
                            </ul>               

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active" id="attendence">
                                    To be filled with last attendances
                                </div>
                                <div class="tab-pane" id="homework">
                                    To be filled with last homeworks
                                </div>
                                <div class="tab-pane" id="results">
                                    To be filled with last results
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>

    <hr>

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#" target="_blank">WRG TEAM</a> 2015 All Rights Reserved</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://usman.it/free-responsive-admin-template">School Name</a>
        </p>
    </footer>
</div>

<!-- external javascript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>
<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- angular.min.js for controllers use -->
<script src="js/angular.min.js"></script>
<!-- application script for commun Files -->
<script src="js/commun.js"></script>
<!-- index.js for logic usage-->
<script src="app/js/index.js"></script>

</body>
</html>
